@*Početna stranica*@

@{
    ViewBag.Title = "";
}
<body>
    <div class="jumbotron">
        <h1><center> <img src="https://cdn2.iconfinder.com/data/icons/business-office-icons/256/To-do_List-512.png"></center></h1>
        </div>
</body>
